# use nix-direnv:
# required for versions of direnv older than 2.29.0
# recommended in all cases, since it caches the environment and prevents dependencies from being garbage-collected by Nix
if ! has nix_direnv_version || ! nix_direnv_version 2.2.1; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/2.2.1/direnvrc" "sha256-zelF0vLbEl5uaqrfIzbgNzJWGmLzCmYAkInj/LNxvKs="
fi

use flake
